.header {
  display: flex;
  width: 100%;
  align-items: center;
  background: #282828;
  color: rgb(83, 172, 235);
  margin-bottom: 50px;
  border: 1px solid black;
  justify-content: space-around;
}

.header > h1 {
  font-size: 40px;
}

.header > p {
  font-size: 18px;
  font-style: italic;
}